{% extends 'core/base.html' %}
{% block content %}
    <div class="col-12 mt-5">
        {% if results != None %}
        <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mobile</th>
                <th scope="col">Adhar Number</th>
                <th scope="col">Email</th>
                <th scope="col">Qualification</th>
                <th scope="col">Skills</th>
                <th scope="col">Job Title</th>
                <th scope="col">Job Type</th>
                <th scope="col">Job Location</th>
                <th scope="col">Mode of Job</th>
                <th scope="col">Experience</th>
                <th scope="col">Resume</th>
                <th scope="col">Profile</th>
                <th scope="col">Salary Expection</th>
                <th scope="col">Street</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Country</th>
              </tr>
            </thead>
            <tbody>
              {% for emp in results %}
              <tr>
                <th scope="row">{{emp.id}}</th>
                <td>{{emp.first_name}}</td>
                <td>{{emp.last_name}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.adhar_number}}</td>
                <td>{{emp.qualification}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.skills}}</td>
                <td>{{emp.job_title}}</td>
                <td>{{emp.job_type}}</td>
                <td>{{emp.job_location}}</td>
                <td>{{emp.mode_of_job}}</td>
                <td>{{emp.experiences}}</td>
                <td>{{emp.resume.url}}</td>
                <td><img src="{{ emp.profile_pic.url }}" width="100" height="100" alt="image not found"></td>
                <td>{{emp.expected_salary}}</td>
                <td>{{emp.street}}</td>
                <td>{{emp.city}}</td>
                <td>{{emp.state}}</td>
                <td>{{emp.zip}}</td>
                <td>{{emp.country}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h3 class="text-info">No Employees data are available...</h3>
        {% endif %}
    </div>
{% endblock content %}
